<div *ngFor="let item of ruta" id="ruta{{item.id}}" class="container-fluid p-0 h-100">
  <!--banner principal-->
  <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators" style="display:none;" >
      <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carrusel-home" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/atacama.png">
        <div class="carousel-caption d-none d-md-block">
          <h4>{{item.name}}</h4> 
        </div>
      </div>
    </div>
  </div><!--/banner principal-->

  <!--box body -->
  <div class="container-fluid">
    <div class="container">
      <!--breadcrums-->
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="javascript:;">{{item.name}}</a></li>
            </ol>         
          </nav>
        </div>
      </div><!--/breadcrums-->

      <!--presentacion-->
      <div class="row">
        <div class="col-12 col-md-3">
          <img [src]="item.image" class="img-fluid">
        </div>
        <div class="col pl-4 resena">
          <div class="col-12 pl-0" style="display: none;">
            <img src="assets/img/turismo.png"> 
          </div><!-- {{idExperiencia}} -->
          <div class="textos">
            <h6>{{item.name}}</h6>
            <div [innerHTML]="item.description"></div>
          </div>
          <div class="web">
            <a href="j{{item.web_site}}" target="_blank">{{item.web_site}}</a>
          </div>
        </div>
      </div><!--presentacion-->
    </div>
  </div><!--/box body -->

  <div class="container-fluid gris2 p-0 ">
    <div class="barraVerde justify-content-md-center">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ruta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mapa</a>
        </li>
      </ul>
    </div>
    
    <!--box tabs-->
    <div class="container-fluid p-0  ruta">
      <div class="tab-content" id="myTabContent">
        <!--tab-->
        <div class="tab-pane fade show active pt-5 pb-0" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="container pb-5">
            <div class="row">
              <section class="cd-timeline js-cd-timeline">
                <!--ruta item -->
                <div class="cd-timeline__container">
                  <div *ngFor="let item of RutaItem" id="{{item.id}}" class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__img cd-timeline__img--picture js-cd-img" data-toggle="modal" data-target="#exampleModal2"  (click)="captureId(item.id)">
                      <i class="material-icons">
                        location_on
                      </i>
                    </div> <!-- cd-timeline__img -->
                    <div class="col-9 col-md-4 card cd-timeline__content js-cd-content"  (click)="captureId(item.id)">
                      <img class="card-img-top" [src]="item.image" alt="Card image cap" data-toggle="modal" data-target="#exampleModal3">
                      <h5 class="card-title" style="display: none;">Lorem ipsum dolor sit amet </h5>
                      <div [innerHTML]="item.description | truncate : 190" class="card-text "></div> 
                      
                      <a href="javascript:;" class="btn"  data-toggle="modal" data-target="#exampleModal3">+ Ver más</a>
                    </div> <!-- cd-timeline__content -->
                  </div><!--card -->
                </div><!--/ruta item -->
              </section>
            </div>
          </div>

          <!--masRutas box-->
          <div class="container-fluid blanco">
            <div class="container">
              <div class="row">
                <div class="col-12">
                <h2 class="h2 text-center">Más rutas de la Región</h2></div>
              </div>
              <!--masRutas-->
              <div class="row experiencias masTours">
                <div *ngFor="let item of masRutas | slice:0:4; let i=index" class="col-6 col-md-3 categoria">
                  <a [routerLink]="['/ruta', item.id]" (click)="scrollTop();">
                    <figure >
                      <img [src]="item.image">
                    </figure>
                    <h3 class="text-center">{{item.name}}</h3>
                  </a>
                </div>    
              </div><!--/masRutas-->  
            </div>
          </div><!--/masRutas box-->
        </div><!--/tab-->
        <!--tab-->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <agm-map 
            [latitude]="latitude2"
            [longitude]="longitude2"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="true"
            [usePanning]="true"
            (mapClick)="mapClicked($event)">

            <agm-marker 
                *ngFor="let m of allMarkers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                (dragEnd)="markerDragEnd(m, $event)">
         
              <!--(centerChange)="centerChange($event)"<agm-info-window>
                <strong>test</strong>
              </agm-info-window>-->
            </agm-marker>
          </agm-map> 
          <div class="container aportar pb-5">
            <div class="row pt-5">
              <div class="col-12">
                <p class="text-center font-weigth-bold"> ¿Quieres aportar a esta ruta?</p>
              </div>
              <div class="col-12"> 
                <p  class="text-center">Escríbenos y envíanos tus aportes, comentarios o lugares que faltan </p> 
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-12 col-md-4">
                <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput text-left"> Email </label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2  text-left"> Mensaje </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </div>
                </form>
              </div> 
            </div>
          </div>  
        </div><!--/tab-->
      </div>
    </div><!--/box tabs-->
  </div>


</div>



 <!-- Modal mapa -->
 <app-mapa-item [idRutaItemRecibida]="idRutaItemRecibida"></app-mapa-item><!-- /Modal mapa -->

 <!-- Modal detalle item -->
 <app-detalle-item [idItem]="idItem"></app-detalle-item><!-- /Modal detalle item -->




