<div  id="ruta{{ruta.id}}" class="container-fluid p-0 h-100">
  <!--banner principal-->
  <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators" style="display:none;" >
      <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carrusel-home" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ imageBanner }}">
        <div class="carousel-caption d-md-block">
          <h4>{{ruta.name}}</h4> 
        </div>
      </div>
    </div>
  </div><!--/banner principal-->

  <!--box body -->
  <div class="container-fluid">
    <div class="container">
      <!--breadcrums-->
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="javascript:;">{{ruta.name}}</a></li>
            </ol>         
          </nav>
        </div>
      </div><!--/breadcrums-->

      <!--presentacion-->
      <div class="row">
        <div class="col-12 col-md-5">
          <img [src]="ruta.image ? ruta.image : ''" class="img-fluid">
        </div>
        <div class="col pl-4 resena">
          <div class="col-12 pl-0" style="display: none;">
            <img src="assets/img/turismo.png"> 
          </div><!-- {{idExperiencia}} -->
          <div class="textos">
            <h6>{{ruta.name}}</h6>
            <div [innerHTML]="ruta.description"></div>
          </div>
          <div class="web">
            <!-- <a href="j{{ruta.web_site}}" target="_blank">{{ruta.web_site}}</a> -->
          </div>
        </div>
      </div><!--presentacion-->
    </div>
  </div><!--/box body -->

  <div class="container-fluid gris2 p-0 ">
    <div class="barraVerde justify-content-md-center">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
            <p><i class="inline-icon material-icons">timeline</i>Ruta</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
            <p><i class="inline-icon material-icons">map</i>Mapa</p>
          </a>
        </li>
      </ul>
    </div>
    <!--box tabs-->

    <!-- ### TAB ROUTE ITEMS ### -->
    <div class="container-fluid p-0  ruta">
      <div class="tab-content" id="myTabContent">
        <!--tab-->
        <div class="tab-pane fade show active pt-5 pb-0" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="container pb-5">
              <div *ngIf="showButton" class="btn_container">
                <a  href="{{ ruta.url_button }}" target="_blank" _ngcontent-c8="" class="btn btn-secondary btn-sm rounded">{{ruta.text_button}}</a>
              </div>
            <div class="row">
              <section class="cd-timeline js-cd-timeline">
                <!--ruta item -->
                <div class="cd-timeline__container">
                  <div *ngFor="let item of RutaItem" id="{{item.id}}" class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__img cd-timeline__img--picture js-cd-img" data-toggle="modal" data-target="#exampleModal2"  (click)="captureId(item)">
                      <i class="material-icons">
                        location_on
                      </i>
                    </div> <!-- cd-timeline__img -->
                    <div class="col-10 col-md-4 card cd-timeline__content js-cd-content"  (click)="captureId(item)">
                      <img class="card-img-top" [src]="item.image" alt="Card image cap" data-toggle="modal" data-target="#exampleModal3">
                      <h5 class="card-title" style="display: none;">Lorem ipsum dolor sit amet </h5>
                      <div [innerHTML]="item.description" class="card-text "></div> 
                      <!--<a href="javascript:;" class="btn"  data-toggle="modal" data-target="#modalVerMas" (click)="verMas(item)">+ Ver más</a>-->
                    </div> <!-- cd-timeline__content -->
                  </div><!--card -->
                </div><!--/ruta item -->
              </section>
            </div>
            <div *ngIf="showButton" class="btn_container">
                <a  href="{{ ruta.url_button }}" target="_blank" _ngcontent-c8="" class="btn btn-secondary btn-sm rounded">{{ruta.text_button}}</a>
            </div>
          </div>
          <div class="container-fluid blanco">
            <div class="container">
                <div class="row">
                    <div class="col-12">
          <disqus [identifier]="pageId"></disqus></div></div>
          </div></div>
          <!--masRutas box-->
          <div class="container-fluid blanco">
            <div class="container">
              <div class="row">
                <div class="col-12">
                <h2 class="h2 text-center">Otras rutas por descubrir</h2></div>
              </div>
              <!--masRutas-->
              <div class="row experiencias masTours">
                <div *ngFor="let item of masRutas | slice:0:4; let i=index" class="col-6 col-md-3 categoria">
                  <a [routerLink]="['/route', item.id]" (click)="scrollTop();">
                    <figure >
                      <img [src]="item.image">
                    </figure>
                    <h3 class="text-center">{{item.name}}</h3>
                  </a>
                </div>    
              </div><!--/masRutas-->  
            </div>
          </div><!--/masRutas box-->
        </div><!--/tab-->
        <!--tab-->
        <!-- END TAB ROUTE ITEMS -->

        <!-- ### TAB MAPS ### -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- (mapReady)="onMapReady($event)" -->
          <agm-map 
            [disableDefaultUI]="false"
            [zoom]="zoom"
            [zoomControl]="true">

              <agm-snazzy-info-window  *ngFor="let data of allMarkers; let i = index" [latitude]="data.latitude" [longitude]="data.longitude" [maxWidth]="150" [isOpen]="true" [closeWhenOthersOpen]="false">
                <ng-template>
                 
                  <div class="icon_marker_map" [style.backgroundImage]="'url('+ data.icon +')'"></div>
                  <div class="label_marker_map">{{ data.title }}</div>
                </ng-template>
              </agm-snazzy-info-window>
            
           
            <agm-direction
              [waypoints]="waypoints" 
              [renderOptions]="renderOptions" 
              [markerOptions]="markerOptions" 
              [travelMode]="travelMode"
              *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination">
            </agm-direction>
          </agm-map>
          <div class="container-fluid aportar pb-5">
            <div class="row pt-2"><owl-carousel
              [options]="{
                center: true,
                items: 4, 
                loop:true,
                dots: true, 
                nav:true,
                autoplay:false,
                navText : ['','']
                }" 
              [items]="RutaItem" 
              [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let item of RutaItem" style="overflow: hidden;">
                  <div class="col-10 col-md-12 hito p-0"  (click)="captureId(item)">
                      <img class="img card-img-top" [src]="item.image" alt="Card image cap">
                      <h5 class="card-title" style="display: none;">Lorem ipsum dolor sit amet </h5>
                      <div [innerHTML]="item.description" class="card-text "></div> 
                    </div> 
              </div>
            </owl-carousel>  
            <!-- END TAB MAPS -->
              <div class="col-12" style="display:none;">

                <p class="text-center font-weigth-bold">¿Quieres aportar a esta ruta?</p>
              </div>
              <div class="col-12" style="display:none;"> 
                <p  class="text-center">Escríbenos y envíanos tus aportes, comentarios o lugares que faltan </p> 
              </div>
            </div>
            <div class="row justify-content-md-center " style="display:none;">
              <div class="col-12 col-md-4">
                <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput text-left"> Email </label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2  text-left"> Mensaje </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </div>
                </form>
              </div> 
            </div>
          </div>  
        </div><!--/tab-->
      </div>
    </div><!--/box tabs-->
  </div>

</div>

 <!-- Modal mapa -->
 <app-mapa-item [rutaItemSelected]="rutaItemSelected"></app-mapa-item><!-- /Modal mapa -->

 <!-- Modal detalle item -->
 <app-detalle-item [rutaItemSelected]="rutaItemSelected"></app-detalle-item><!-- /Modal detalle item -->

<!-- ver mas -->
<app-ver-mas [idItem2]="idItem2"></app-ver-mas>





