<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>     
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body"><!-- *ngFor="let item of RutaItem"--> 
        
        <agm-map [latitude]="lat2" [longitude]="lng2" [zoom]="zoom" [mapTypeControl]="true">
          <!-- <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker> -->
          <agm-snazzy-info-window  [latitude]="lat2" [longitude]="lng2" [maxWidth]="150" [isOpen]="true" [closeWhenOthersOpen]="false">
            <ng-template>
              <a [href]=" hrefSafeURL " target="_system">
                <div class="icon_marker_map" [style.backgroundImage]="'url('+ icon +')'"></div>
                <div class="label_marker_map">{{ title }}</div>
              </a>
            </ng-template>  
          </agm-snazzy-info-window>

        </agm-map>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>