    <!-- Modal galeria y detalles -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>     
                </div>
            </div>
          </div>
  
          </div>
          <div class="modal-body" >
            <owl-carousel
              [options]="{
                items: 1, 
                loop:true,
                dots: true, 
                nav:true,
                autoplay:true,
                navText : ['','']
                }" 
              [items]="itemsDetails[0]" 
              [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let item of itemsDetails[0]">
                <img [src]="item.image"> 
                <h4>{{item.name}}</h4>
              </div>
            </owl-carousel>  
          </div>
         
        </div>
      </div>
    </div>