<header class="container">
  <div class="row">
    <div class="col logo">
      <a  routerLink="/">
        <img src="assets/img/yagan.png">
      </a>
    </div>
    <div class="iconMenu">
      <i class="material-icons">
        menu
      </i>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2 mt-3"><!--form buscador-->
      <form (ngSubmit)="buscar()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" name="buscar" [(ngModel)]="model.buscar">
          <div class="input-group-append">
            <button id="btnbuscar" class="btn btn-primary btn-gris" type="submit" (click)="buscarbtn()">Buscar</button>
          </div>
        </div>
      </form><!--/form buscador--></div>
    <div class="col-12 col-md order-md-3 menu">
      <ul class="pl-0 pl-md">
        <li><a>Acerca de</a></li>
        <li><a class="participa rounded">Participa</a></li>
      </ul>
    </div>
  </div>
</header>