<header class="container">
  <div class="row">
    <div class="col logo">
      <a  routerLink="/home">
        <img src="assets/img/yagan.png">
      </a>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2"><!--form buscador-->
      <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary btn-gris" type="button">Buscar</button>
            </div>
          </div>
      </form><!--/form buscador--></div>
    <div class="col-12 col-md order-md-3">
      <ul class="pl-0 pl-md">
        <li><a>Acerca de</a></li>
        <li><a class="participa rounded">Participa</a></li>
      </ul>
    </div>
  </div>
</header>