
<div class="container-fluid p-0 h-100 gris2">

  <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators" style="display:none;" >
      <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carrusel-home" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div  class="carousel-item active">
          <div class="degrade2"></div>
        <!--<img src="{{ categoryActive.image_banner }}">-->
        <img class="imgModificada" [src]="categoryActive.image_banner ? categoryActive.image_banner : 'assets/img/image-base.jpg'">
        <div class="carousel-caption d-none d-md-block">
          <h4>{{ categoryActive.name }}</h4> 
        </div>
      </div>
    </div>
  </div><!--/slide home-->

  <!--box body -->
  <div class="container">
    <div class="row">
      <!--box menu -->
      <div class="col-12 col-md-3 menusidebar">
        <div class="sidebarMobile">
          <ul>
            <li class="title">Filtros
              <i class="material-icons">expand_more</i>
            </li>
          </ul>
        </div>
        <form>
        <ul>
          <li class="title">Región</li>
          <li><a (click)="setUrl('rg', '')"><i *ngIf="rg_all;" class="material-icons">arrow_right</i>Todas</a></li>
          <li *ngFor="let item of region">
              <a (click)="setUrl('rg', item.code)"><i *ngIf="item.status;" class="material-icons">arrow_right</i>{{ item.code}} - {{item.name}}</a>
          </li>
        </ul>
        <ul>
          <li class="title">Duración</li>
          <li><a (click)="setUrl('dc', '')"><i *ngIf="dc_all;" class="material-icons">arrow_right</i>Todas</a></li>
          <li *ngFor="let item of duracion"><a (click)="setUrl('dc', item.id)"><i *ngIf="item.status;" class="material-icons">arrow_right</i>{{ item.name}}</a></li>
        </ul>
        <ul>
          <li class="title">Categorías</li>
          <li><a (click)="setUrl('cid', '')"><i *ngIf="cid_all;" class="material-icons">arrow_right</i>Todas</a></li>
          <li *ngFor="let item of CategoryFilter" id="{{item.id}}"><a (click)="setUrl('cid', item.id)"><i *ngIf="item.status;" class="material-icons">arrow_right</i>{{item.name}}</a></li>    
        </ul>
      </form>
      </div><!--/box menu  (idCategoryOutput)="captureId($event)"-->
      

      <div class="col fondoblanco">
        <div class="row d-none d-md-block">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rutas y experiencias</li>
              </ol>
            </nav>
          </div>
        </div>

        <!--rutas y experiencias box-->    
        <div class="row experiencias mt-3">
           <!--todas las subcategorias-->
           <div *ngFor="let item of resultados" id="{{item.id}}" class="col-6 col-md-4 categoria">
              <a *ngIf="item.type == 'route'; else templateSubcategory" [routerLink]="['/route', item.id]">
                <figure>
                  <img [src]="item.image"/>
                </figure>
                <h3>{{item.name}}</h3>
              </a>
              <ng-template #templateSubcategory>
                <a [routerLink]="['/subcategory', item.id]">
                  <figure>
                    <img [src]="item.image"/>
                  </figure>
                  <h3>{{item.name}}</h3>
                </a>
              </ng-template>
            </div><!--/todas las subcategorias-->   


          <!--todas las subcategorias-->
          <div *ngFor="let item of SubCategory" id="{{item.id}}" class="col-6 col-md-4 categoria">
            <a *ngIf="item.type == 'route'; else templateSubcategory" [routerLink]="['/route', item.id]">
              <figure>
                <img [src]="item.image"/>
              </figure>
              <h3>{{item.name}}</h3>
            </a>
            <ng-template #templateSubcategory>
              <a [routerLink]="['/subcategory', item.id]">
                <figure>
                  <img [src]="item.image"/>
                </figure>
                <h3>{{item.name}}</h3>
              </a>
            </ng-template>
          </div><!--/todas las subcategorias-->     

          <!--subcategoria filtrada por ID padre-->
          <div *ngFor="let item of SubCategoryFilter" id="{{item.id}}" class="col-6 col-md-4 categoria">
            <a *ngIf="item.type == 'route'; else templateSubcategory" [routerLink]="['/route', item.id]">
              <figure>
                <img [src]="item.image"/>
              </figure>
              <h3>{{item.name}}</h3>
            </a>
            <ng-template #templateSubcategory>
              <a [routerLink]="['/subcategory', item.id]">
                <figure>
                  <img [src]="item.image"/>
                </figure>
                <h3>{{item.name}}</h3>
              </a>
            </ng-template>
          </div><!--/subcategoria filtrada por ID padre-->  
        </div><!--/rutas y experiencias box-->    
      </div>      

    </div><!--/box body -->
  </div>


</div>
