<div class="container-fluid p-0 h-100">

    <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators" style="display:none;" >
          <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel-home" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/cores/experiencias.png">
            <div class="carousel-caption d-none d-md-block">
              <h4>Experiencias</h4> 
            </div>
          </div>
      </div>
  </div><!--/slide home-->

  <!--box body -->
  <div class="container h-100">
    <!--box menu -->
    <div class="col-3 menusidebar h-100">
      menu
    </div><!--/box menu -->
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>

  </div><!--/box body -->



</div>
