<div  class="general container-fluid">
    <div class="container p-0 p-md">
      <div class="row">
        <div class="col"> 
          <h2 class="h2">Experiencias del mes</h2>
        </div>
        <div class="col">
          <h2 class="h2 text-right"><a routerLink="/experiencias">Ver todo</a></h2>
        </div> 
      </div>
      <!--experiencias item -->
      <div class="row experiencias">
        <div *ngFor="let item of Experiences" id="{{item.id}}" class="col-12 col-sm-6 col-md-3 categoria" (click)="captureId(item.id)"><!-- -->
          <a [routerLink]="['/experiencia', item.id]">
            <figure>
              <img [src]="item.image"/>
              <div class="tiempo">
                <i class="material-icons">query_builder</i>
                <span>{{item.created | date:"shortDate"}}</span>
              </div>
            </figure>
          </a>
          <h3>{{item.title}}</h3>
        </div>
      </div><!--/experiencias item-->
    </div>
  </div>