<div  class="general container-fluid pb-md-0">
    <div class="container p-0 p-md">
      <div class="row">
        <div class="col"> 
          <h2 class="h2">Experiencias del mes</h2>
        </div>
        <div class="col">
          <h2 class="h2 text-right"><a routerLink="/rutas-experiencias">Ver todo</a></h2>
        </div> 
      </div>
      <!--experiencias item -->
      <div class="row experiencias">
        <div *ngFor="let item of subCategory | slice:0:4; let i=index" id="{{item.id}}" class="col-6 col-sm-6 col-md-3 categoria" (click)="captureId(item.id)"><!-- -->
          <a [routerLink]="['/experiencias', item.id]">
            <figure>
              <img [src]="item.image"/>
            </figure>
          </a>
          <h3>{{item.name}}</h3>
        </div>
      </div><!--/experiencias item-->
    </div>
  </div>