
<div class="container-fluid p-0">
  <!-- slide home--><div id="carrusel-home" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators" style="display:none;" >
        <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carrusel-home" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/jumbotron.png">
          <div class="carousel-caption d-none d-md-block">
            <h4>Descubre experiencias<br> y vive tu propio Chile</h4> 
          </div>
        </div>
        <a style="display:none;" class="carousel-control-prev" href="#carrusel-home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a style="display:none;"  class="carousel-control-next" href="#carrusel-home" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div><!--/slide home-->

<div id="general" class="general container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h2 class="h2">Descubre</h2>
      </div>
    </div>
    <!--categorias -->
     <div class="row categorias">
         <div class="col-4 categoria">
            <figure>
              <img src="assets/img/relajo-2x.png" />
              <h3>Relajo</h3>
            </figure>
         
           
         </div>
         <div class="col-4 categoria">
            <figure>
            <img src="assets/img/Aventuras-2x.png">
            <h3>Aventuras</h3>
          </figure>
         
          </div>
          <div class="col-4 categoria">
              <figure>
            <img src="assets/img/Cultura-2x.png">
            <h3>Cultura</h3>
          </figure>
         
          </div>
          <div class="col-4 categoria">
              <figure>
              <img src="assets/img/Patrimonio-2x.png">
              <h3>Patrimonio</h3>
            </figure>
            
            </div>
            <div class="col-4 categoria">
                <figure>
               <img src="assets/img/Gastronomia-2x.png">
               <h3>Gastronomia</h3>
              </figure>
              
             </div>
             <div class="col-4 categoria">
                <figure>
               <img src="assets/img/Outdoor-2x.png">
               <h3>Outdoor</h3>
              </figure>
               
             </div>
             <div class="col-4 categoria">
                <figure>
                <img src="assets/img/vida_nocturna-2x.png">
                <h3>Vida nocturna</h3>
              </figure>
               
              </div>
              <div class="col-4 categoria">
                  <figure>
                 <img src="assets/img/familiar-2x.png">
                 <h3>Familiar</h3>
                </figure>
            
               </div>
               <div class="col-4 categoria">
                  <figure>
                 <img src="assets/img/recuerdos-2x.png">
                 <h3>Recuerdos</h3>
                </figure>
                
               </div>
       </div> <!--categorias -->
       <!--recomendados -->
       <div class="row">
          <h2 class="h2">Recomendados</h2>
        </div>
       <div class="row recomendados">
         
          <div class="col-8">
            <div class="img"><img src="assets/img/alfonso.png"></div>
            <div class="textos">
              <h3>Sorpréndete con<br> con Atacama Suites</h3>
              <button class="btn btn-secondary rounded">¡Reserva YA!</button>
            </div>
          </div>
          <div class="col-4">
              <div class="img"><img src="assets/img/selk.png"></div>
              <div class="textos">
              <button class="btn btn-secondary rounded">COMPRA YA!</button>
            </div>
          </div>
       </div><!--recomendados -->
  </div>


</div>
      <!-- slide home2-->
      <div class="container-fluid p-0">
          <div id="carrusel-home2" class="carousel slide" data-ride="carousel" >
            
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/jumbotron_rutero.png">
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Conviértete en rutero</h4>
                    <p>Envíanos los imperdibles de tu ciudad<br> y comparte los mejores lugares</p>
                    <button class="btn btn-secondary btn-lg rounded">ENVÍANOS TU RUTA</button>
                  </div>
                </div>
            
            </div>
      </div><!--/slide home2-->
      <!-- experiencias del mes-->
      <div  class="general container-fluid">
          <div class="container">
              <div class="row">
                <div class="col"> <h2 class="h2">
                  Experiencias del mes
                </h2></div>
                <div class="col">
                    <h2 class="h2 text-right"><a routerLink="/experiencias">Ver todo</a></h2>
                </div>
               
                
              </div>
              <div class="row experiencias">
                <div class="col-3 categoria">
                  <figure>
                    <img src="assets/img/flor.png" />
                    <div class="tiempo">
                      <i class="material-icons">query_builder</i>
                      <span>5 horas</span>
                    </div>
                  </figure>
                  <h3>Relajo</h3>
                </div>
                <div class="col-3 categoria">
                  <figure>
                  <img src="assets/img/elmono.png">
                  <div class="tiempo">
                      <i class="material-icons">query_builder</i>
                      <span>5 horas</span>
                    </div>
                </figure>
                  
                  <h3>Aventuras</h3>
                </div>
                <div class="col-3 categoria">
                    <figure>
                  <img src="assets/img/3-2x.png"></figure>
                  <h3>Cultura</h3>
                </div>
                <div class="col-3 categoria">
                    <figure>
                    <img src="assets/img/4-2x.png"></figure>
                    <h3>Patrimonio</h3>
                  </div>
                  <div class="col-3 categoria">
                      <figure>
                      <img src="assets/img/chañares.png">
                      <div class="tiempo">
                          <i class="material-icons">query_builder</i>
                          <span>5 horas</span>
                        </div>
                    </figure>
                      <h3>Gastronomia</h3>
                    </div>
                    <div class="col-3 categoria">
                      <figure>
                      <img src="assets/img/quebrada.png">
                      <div class="tiempo">
                          <i class="material-icons">query_builder</i>
                          <span>5 horas</span>
                        </div>
                    </figure>
                      <h3>Outdoor</h3>
                    </div>
                    <div class="col-3 categoria">
                      <figure>
                      <img src="assets/img/7-2x.png"></figure>
                      <h3>Vida nocturna</h3>
                    </div>
                    <div class="col-3 categoria">
                        <figure>
                        <img src="assets/img/8-2x.png">
                        <div class="tiempo">
                            <i class="material-icons">query_builder</i>
                            <span>5 horas</span>
                          </div>
                      </figure>
                        <h3>Familiar</h3>
                      </div>
              </div> <!--categorias -->
        </div>
      </div>

     


