<div *ngFor="let item of experiencia" class="container-fluid p-0 h-100">

    <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators" style="display:none;" >
          <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel-home" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div  class="carousel-item active">
              <div class="degrade2"></div>
            <!--<img src="{{ categoryActive.image_banner }}">-->
            <img class="imgModificada" src="https://administrator.yagan.world/media/images/2018/08/orig/torres_3-min.jpg">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h4>{{ categoryActive.name }}</h4>  -->
            </div>
          </div>
        </div>
  </div><!--/slide home-->

  <!--box body -->
  <div class="container-fluid gris2">
        <div class="container">
        <div class="row">

        <div class="col gris2">
          <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:;">Experiencias</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
                </ol>         
              </nav>
            </div>
          </div>

            <div class="row">
              <div class="col-12">
                <h2 class="h2"> Los más populares </h2>
              </div>
            </div>
          
               <!-- -->
                <div class="row experienciasComida">
                  <!--item --> 
                  <div *ngFor="let item2 of item.experiences" class="col-12 col-md-3 categoria" (click)="captureId(item2.id)">
                      
                    <figure data-toggle="modal" data-target="#exampleModal2">
                      <img [src]="item2.image" />
                    </figure>
                    <div class="row">
                      <div class="col-12">
                        <h3>{{item2.title}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-6">
                        <span>{{item2.region}}</span>
                        
                      </div> -->
                      
                      <div class="col-12">
                          <ngb-rating [(rate)]="evaluated" [readonly]="true" max="5">
                            
                              <!--  
                              <ng-template let-fill="fill">
                                    <span class="star" [class.full]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                    </span>
                                </ng-template> 
                               -->
                            </ngb-rating>
                            <i>({{item2.evaluated.avg | number:'1.0-1'}})</i>
                      </div>
                      
                    </div>
                    <!-- Button trigger modal -->
                  </div><!--/item-->
                  
                </div> <!--categorias -->

                <div class="row" style="display: none;">
                  <div class="col-12">
                    <h2 class="h2"> Recomendados </h2>
                  </div>
                </div>
          </div>      

      </div><!--/box body -->
    </div>

  </div>


</div>

  
  <!-- -->

  <app-detalle-item-experiencia [idItem]="idItem"></app-detalle-item-experiencia>
 