<div class="container-fluid p-0 h-100">

    <div id="carrusel-home" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators" style="display:none;" >
          <li data-target="#carrusel-home" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel-home" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/sandwich/5.png">
            <div class="carousel-caption d-none d-md-block">
              <h4>Experiencias</h4> 
            </div>
          </div>
      </div>
  </div><!--/slide home-->

  <!--box body -->
  <div class="container-fluid gris2">
        <div class="container">
        <div class="row">

        <div class="col gris2">
          <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:;">Aventura</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Los mejores Sandwich de Santiago</li>
                </ol>         
              </nav>
            </div>
          </div>

            <div class="row">
              <div class="col-12">
                <h2 class="h2"> Los más populares </h2>
              </div>
            </div>
               <!-- -->
                <div class="row experienciasComida"> 
                  <div class="col-12 col-md-3 categoria">
                    <figure>
                      <img src="assets/img/experiencias/5.png" />
                    </figure>
                    <div class="row">
                      <div class="col-12">
                        <h3> La Burguesía </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <span>Santiago</span>
                      </div>
                      <div class="col-6">
                        <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-12 col-md-3 categoria">
                    <figure>
                      <img src="assets/img/sandwich/1.png" /></figure>
                      <div class="row">
                          <div class="col-12">
                            <h3> La Burguesía </h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <span>Santiago</span>
                          </div>
                          <div class="col-6">
                            <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-3 categoria">
                    <figure>
                      <img src="assets/img/sandwich/2.png" />
                    </figure>
                    <div class="row">
                        <div class="col-12">
                          <h3> La Burguesía </h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span>Santiago</span>
                        </div>
                        <div class="col-6">
                          <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                        </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-3 categoria">
                    <figure>
                        <img src="assets/img/sandwich/3.png" />
                      </figure>
                      <div class="row">
                          <div class="col-12">
                            <h3> La Burguesía </h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <span>Santiago</span>
                          </div>
                          <div class="col-6">
                            <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                          </div>
                        </div>
                  </div>
                </div> <!--categorias -->

                <div class="row">
                  <div class="col-12">
                    <h2 class="h2"> Recomendados </h2>
                  </div>
                </div>

                <!-- -->
                <div class="row experienciasComida"> 
                    <div class="col-12 col-md-3 categoria">
                      <figure>
                        <img src="assets/img/sandwich/4.png" />
                      </figure>
                      <div class="row">
                        <div class="col-12">
                          <h3> La Burguesía </h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span>Santiago</span>
                        </div>
                        <div class="col-6">
                          <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-12 col-md-3 categoria">
                      <figure>
                        <img src="assets/img/sandwich/2.png" /></figure>
                        <div class="row">
                            <div class="col-12">
                              <h3> La Antojería </h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>Santiago</span>
                            </div>
                            <div class="col-6">
                              <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-3 categoria">
                      <figure>
                        <img src="assets/img/sandwich/6.png" />
                      </figure>
                      <div class="row">
                          <div class="col-12">
                            <h3> La Gloria </h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <span>Santiago</span>
                          </div>
                          <div class="col-6">
                            <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                          </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 categoria">
                      <figure>
                          <img src="assets/img/sandwich/7.png" />
                        </figure>
                        <div class="row">
                            <div class="col-12">
                              <h3>Capicúa </h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>Santiago</span>
                            </div>
                            <div class="col-6">
                              <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-3 categoria">
                        <figure>
                            <img src="assets/img/sandwich/8.png" />
                          </figure>
                          <div class="row">
                              <div class="col-12">
                                <h3> La Burguesía </h3>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <span>Santiago</span>
                              </div>
                              <div class="col-6">
                                <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                              </div>
                            </div>
                      </div>
                      <div class="col-12 col-md-3 categoria">
                          <figure>
                              <img src="assets/img/sandwich/9.png" />
                            </figure>
                            <div class="row">
                                <div class="col-12">
                                  <h3> La Antojería </h3>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <span>Santiago</span>
                                </div>
                                <div class="col-6">
                                  <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-md-3 categoria">
                            <figure>
                                <img src="assets/img/sandwich/10.png" />
                              </figure>
                              <div class="row">
                                  <div class="col-12">
                                    <h3> La Gloria </h3>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                    <span>Santiago</span>
                                  </div>
                                  <div class="col-6">
                                    <bar-rating [(rate)]="rate" [max]="5" ></bar-rating>
                                  </div>
                                </div>
                          </div>
                  </div> <!--categorias -->
            <!-- -->
          </div>      

      </div><!--/box body -->
    </div>

  </div>


</div>
